$fonthead: 'Rubik', sans-serif;
$fontstack: 'Rubik', sans-serif;
$colordark: #191919;
$coloryellow: #4285f4;
$colorpink: #4285f4;
$colorblue: #6C6CE5;
$colordefault: #191919;

@mixin transition($second) {
  -webkit-transition: all $second ease-in-out;
    -moz-transition: all $second ease-in-out;
        transition: all $second ease-in-out;
}